extends layout

block main
  h2 Select a country to be quizzed on!

  ul#quizzes
    each quiz in quizzes
      li
        a(href=`/GeoQuizzer/${quiz.id}/question1`)
          img(src=`${quiz.shapeImage}`, alt=`${quiz.id} country shape`)