#worldmap {
  position: fixed;
  width: 100%;
  height: 100%;
  top:0px;
  left:0px;
  z-index: -1000;
}

body {
  background-color: lightsteelblue;
  padding-top: 20px;
}

header {
  background-color: lightslategrey;
  max-width: 960px;
  margin: 0 auto 20px;
  border-radius: 10px;
}

main {
  box-sizing: border-box;
  background-color: lightgrey;
  max-width: 960px;
  margin: 0 auto;
  padding: 15px;
  
}

h1, h2 {
  text-align: center;
}

h1 {
  padding: 20px;
  font-size: 48px;
}

h2 {
  font-size: 36px;
  padding: 0 0 10px;
}

#quizzes {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  
  justify-content: center;
  row-gap: 10px;
  column-gap: 10px;
}

#quizzes li {
  box-sizing: border-box;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 10px;
}

#quizzes li:hover {
  border: 2px solid red;
}

#quizzes img {
  width: auto;
  height: 300px;
}

#question1,
#question2,
#question3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#question1 img,
#question2 img,
#question3 img {
  height: 400px;
}

#question1 h3,
#question2 h3,
#question3 h3 {
  padding: 20px;
  font-size: 36px;
}

#question1 input,
#question2 input,
#question3 input {
  box-sizing: border-box;
  width: 500px;
  padding: 0 8px;
  height: 30px;
  margin: 0 auto;
}

#question1 button,
#question2 button,
#question3 button {
  box-sizing: border-box;
  height: 30px;
}